<%= turbo_frame_tag 'weather_additional_info' do %>
  <% if weather.present? %>
    <div class=" container d-grid gap-3 mt-5 p-0 weather-additional-info">
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Wind</h5>
        <h1 class="fw-light"><%= weather.wind_speed %> m/s</h1>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Humidity</h5>
        <h1 class="fw-light"><%= weather.humidity %>%</h1>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Real Feel</h5>
        <h1 class="fw-light"><%= weather.real_feel %>°C</h1>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Cloudiness</h5>
        <h1 class="fw-light"><%= weather.cloudiness %>%</h1>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Pressure</h5>
        <h1 class="fw-light"><%= weather.pressure %> hPa</h1>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Visibility</h5>
        <h1 class="fw-light"><%= meters_to_kilometers(weather.visibility) %> km</h1>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Temperature History</h5>
        <h5 class="fw-light"><%= weather.max_temperature %>°C</h5>
        <h5 class="fw-light"><%= weather.min_temperature %>°C</h5>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Sunrise</h5>
        <h3 class="fw-light"><%= weather.sunrise.strftime("%I:%M %p") %> (UTC)</h3>
      </div>
      <div class="info-card p-3 border rounded">
        <h5 class="fw-light">Sunrise</h5>
        <h3 class="fw-light"><%= weather.sunset.strftime("%I:%M %p") %> (UTC)</h3>
      </div>
    </div>
  <% else %>
    <div class=" container d-flex flex-column align-items-center p-5 my-5 weather-additional-info">
      <%= image_tag 'no_weather_data.png', class: "weather-icon", style:"max-width:100px; max-height:100px;",  alt: "Weather Icon" %>
      <p class="weather-icon temperature fs-4 fw-light mb-0">Weather data not available</p>
    </div>
  <% end %>
<% end %>
