<div class="weather-content-card transparent-container mt-3 row container p-3" style="height: fit-content">
  <div class = "left-wrapper-section container col-4 p-2 d-flex flex-column">
    <%= form_with(url: home_index_path, method: "post", local: false, class: "search-wrapper d-flex py-3", style:"height:80px;") do |form| %>
      <%= form.text_field :search, class: "form-control px-3 fs-5", placeholder: "Search for location", aria: { label: "Location" } %>
      <button class="btn bg-white d-flex ms-3 align-items-center justify-content-center" type="submit">
        <%= image_tag "search.png", class: "search-icon", style: "max-width:20px; max-height:20px;", alt: "Search Icon" %>
      </button>
    <% end %>
    <%= render partial: "home/weather_main_info", locals: {weather: @weather, location: @location} %>
  </div>
  <div class="right-wrapper-section container position-relative col-8 p-3">
    <h3 class="fw-light">Today's Forecast</h3>
    <%= render partial: "home/weather_additional_info", locals: {weather: @weather} %>
    <h6 class="position-absolute bottom-0 fw-light">Data Powered By OpenWeather.org</h6>
  </div>
</div>
