<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="weather-logo.png">
    <title>Skycast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container-fluid p-0 h-100 d-flex flex-column">
      <%= render 'layouts/header'%>
      <div class="main-content-wrapper flex-fill d-flex justify-content-center p-3">
        <%= yield %>
      <div>
    </div>
  </body>
</html>
